* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Web_1920__1 {
  position: absolute;
  background-color: rgba(0,0,0,1);
  overflow: hidden;

}

#Projects {
  left: 75px;
  top: 65px;
  position: absolute;
  overflow: visible;
  width: 261px;
  white-space: nowrap;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 85px;
  color: rgba(255,255,255,1);
  text-decoration: underline;
}
#logo {
  position: absolute;
  width: 512px;
  height: 512px;
  left: 704px;
  top: 284px;
  overflow: visible;
}
#Project_Outsider {
  left: 50px;
  top: 45px;
  position: absolute;
  overflow: visible;
  width: 100px;
  white-space: nowrap;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
  text-decoration: underline;
}
#Genres_Horror_Thriller_Length_ {
  left: 35px;
  top: 45px;
  position: absolute;
  overflow: visible;
  width: 271px;
  white-space: nowrap;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(255,255,255,1);
}