* {
  box-sizing: border-box;
}

#Projects {
  left: 830px;
  top: 180px;
  position: absolute;
  overflow: visible;
  width: 261px;
  white-space: nowrap;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 85px;
  color: rgba(255,255,255,1);
  text-decoration: underline;
}
#logo {
  position: absolute;
  width: 512px;
  height: 512px;
  left: 704px;
  top: 284px;
  overflow: visible;
}
#Project_Outsider {
  left: 806px;
  top: 802px;
  position: absolute;
  overflow: visible;
  width: 100px;
  white-space: nowrap;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: rgba(255,255,255,1);
  text-decoration: underline;
}
#Genres_Horror_Thriller_Length_ {
  left: 825px;
  top: 880px;
  position: absolute;
  overflow: visible;
  width: 271px;
  white-space: nowrap;
  text-align: center;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(255,255,255,1);
}